@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800&display=swap');
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

header {
    padding: 2em 5em;
    display: flex;
    justify-content: space-between;
    background-color: #862632;
}
nav ul {
    display: flex;
}
nav ul li {
    margin: 0 3em;
}
nav a {
    text-decoration: none;
    color: #144734;
    font-weight: bolder;
    text-shadow: #ddcca1 2px 2px 2px;
}
section {
    margin: 3em 0;
}
.container {
    width: 75%;
    margin: 0 auto;
}
.img-container {
    width: 50%;
    margin: 0 auto;
}
.img-container img {
    width: 100%;
}

#sources {
    display: flex;
    justify-content: space-around;
}

/* Typography */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #ddcca1;
}
